<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>819499201366-f6dgfco16epek7ljppe8m102bb0dkb4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819499201366-f6dgfco16epek7ljppe8m102bb0dkb4o</string>
	<key>API_KEY</key>
	<string>AIzaSyDDkyQmpjKvkzJktQwjME5WccGLFgcBqek</string>
	<key>GCM_SENDER_ID</key>
	<string>819499201366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harshit.Search-Pokenmon</string>
	<key>PROJECT_ID</key>
	<string>search-pokemon</string>
	<key>STORAGE_BUCKET</key>
	<string>search-pokemon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819499201366:ios:f37964cf10151adc</string>
	<key>DATABASE_URL</key>
	<string>https://search-pokemon.firebaseio.com</string>
</dict>
</plist>